node_modules/

*.png
*_err.txt
*_out.json
*_result.json
debug_stderr.txt
check_*.json
debug_*.json
latest_*.json
observe_*.json
video_final*.json
video_final*.txt
video_result.json
fsb_*.txt
fsb_*.json
extract_*.txt
extract_*.json
deep_*.json
inspect*.json
inspect*.txt
find_video_*.txt
find_video_*.json
*_out.txt
